@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic global styles */
:root {
  --bg: #0f1724; /* slate-950-like */
  --fg: #e6eef8; /* pale foreground */
}

html, body, #__next {
  height: 100%;
}

html {
  background-color: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}
